<div class="header">
  <%= link_to 'Add New Movie', new_movie_path, class: 'add-movie-button' %>
  <h1>All Movies</h1>
</div>

<table id="movies">
  <thead>
    <tr>
      <th><%= link_to "Title", movies_path(sort: "title", direction: (@sort == "title" && @direction == "asc") ? "desc" : "asc") %></th>
      <th><%= link_to "Rating", movies_path(sort: "rating", direction: (@sort == "rating" && @direction == "asc") ? "desc" : "asc") %></th>
      <th><%= link_to "Release Date", movies_path(sort: "release_date", direction: (@sort == "release_date" && @direction == "asc") ? "desc" : "asc") %></th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= link_to movie.title, movie_path(movie) %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.release_date.strftime("%B %d, %Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>